body {
    display: flex;
    flex-direction: column;
}

#editaABM .container {
    width: 500px;
    border-radius: 0.5rem;
    margin: 5rem auto;
}

label {
    text-transform: capitalize;
}
